<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
<!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/css/style.css" />

    <script src="../static/js/chat.js"></script>
    <title> GrandPy 👴🏼 </title>
</head>

<body>
    <header id="header">
      <img src="../static/img/papy_robot.png" alt="papy robot logo" class="papy_image">
      <h1 class="element2"> <em> Papy Robot </em><br> Très fort en Géographie ! </h1>
    </header>

    
    <div class="container"> <br>
        <img src="../static/img/papy_robot.png" alt="papy robot logo" class="error">
        <div class="error_text">"Erreur 404 mon petit ... Aucune page Web trouvée 🥸 "</div>
    </div>


    <footer>
      <div>
        <h2> Rati Lekishvili (DA Python) </h2>
        <ul id="footer_list">
          <li class="element 1"><a href="https://www.facebook.com" title="Ajouter moi sur FACEBOOK !"> FACEBOOK </a></li>
          <li class="element 2"><a href="https://github.com/LekishviliRati" title="Suis-moi sur GITHUB !"> GITHUB</a></li>
          <li class="element 3"><a href="https://www.linkedin.com/in/rati-lekishvili-76a543111/" title="Mon Linked In">LINKED IN</a></li>
        </ul>
  		</div>
    </footer>

      <!-- Add GOOGLE MAPS -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC0lfgQAaH7B2RCC6VOZbLr8REwvTo7i9g&callback=initMap&libraries=&v=weekly"
      async
    >
    </script>

</body>
</html>

